  header { /*Parte principal da navbar seria como o conteiner ela é flex e centraliza todos os elementos dentro dela*/
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .content_navbar { /*aqui fica o conteudo da navbar que é a imagem do logo e o menu para se clicar*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: relative;
  }

  .menu_itens { /*o menu da navbar deixa um espaçamento de 34px entre os items*/
    display: flex;
    gap: 34px;
    height: 30px;
    transition: .3s ease;
  }
  label.icon { /* icone do menu-hamburguer, usa position: absolute porque queros sempre que ele apareça na direita*/
    position: absolute;
    cursor: pointer;
    display: none; /*esta com display: none pq so queremos que apareça nos celulares/tablets*/
    right: 0;
  }

  .menu_itens li { /*aqui são estilizados cada um das opções do menu */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12.8px;
    cursor: pointer;
  }

  .menu_itens li#contrast { /*estiliza o botão contato*/
    background-color: #1a23ee;
    color: #fff;
    width: 90px;
    border-radius: 5px;
  }

  @media (max-width: 700px) { /*diminui o espaçamento entre os itens do menu quando chega em 700*/

    .menu_itens {
      gap: 15px;
    }
    
  }

  @media (max-width: 600px) { /*retira o botão home para economizar espaço*/
    #home {
      display: none;
    }
  }

  @media (max-width: 540px) { /*faz as alterações css para fazer o menu hamburguer*/
    label.icon {
      display: block;
    }
    #home {
      display: flex;
    }
    .menu_itens li#contrast{
      width: 100%;
      background-color: transparent;
      color: #000;
    }

    .menu_itens { /*criação do dropdown quando clica no hamburguer*/
      position: absolute;
      top: 90%;
      right: 0;
      width: 50%;
      height: 0px;
      background-color: #fff;
      z-index: 1;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;
      transition: .3s ease;
    }

    .open-dropMenu { /*para abrir o hamburguer*/
      padding: 20px 0;
      height: auto;
    }

  }  