.backgroundView {
    color: red !important;
    background-color: red !important;
}
.container-itens {
    display: flex;
}

.orders-main {
    display: flex;
    padding-bottom: 50px;
}

.orders-container { 
    margin-left: calc(18% + 50px);
    margin-top: 93px;
}

.orders-content {
   display: flex;
   flex-direction: column;
   gap: 39px;

}

.orders-title{
    font-size: 31px;
    color: #000;
    font-family: 'attenExtraBold';
    margin-bottom: 56px;
}