@font-face {
  font-family: 'atten';
  src: url('./atten-new/AttenNewRegular.otf')  format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'attenBook';
  src: url('./atten-new/AttenNewBook.otf')  format('opentype');
  font-weight: book;
}

@font-face {
  font-family: 'attenMedium';
  src: url('./atten-new/AttenNewMedium.otf')  format('opentype');
  font-weight: medium;
}

@font-face {
  font-family: 'attenExtraBold';
  src: url('./atten-new/AttenNewExtraBold.otf');
  font-weight: bolder;
}

@font-face {
  font-family: 'attenBold';
  src: url('./atten-new/AttenNewBold.otf');
  font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background-color: #E6F1FE;
  overflow-x: clip;
  font-family: 'atten';
}

nav {
  justify-content: space-between;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #000;
}
.home {
    padding: 20px;
}

.pointer {
  cursor: pointer;
}

#img-vector {
  position: absolute;
  top: 20%;
  right: 8%;
}
.forms,
.orders {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 35px;
  }
  .forms {
    max-width: 631px;
    margin-top: 55px;
  }
  .orders,
  .container-itens {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .index {
    z-index: 1;
  }
  
  form.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forms h2 {
    margin-top: 35px;
    margin-bottom: 43px;
    font-size: 50px;
    font-family: 'attenExtraBold';
  }
  
  .forms .inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  .forms .inputs label input {
    width: 100%;
    padding: 14px 9px 16px 9px;
    height: 50px;
    font-size: 16px;
    font-family: 'attenBook';
    border: 1px solid #CCD6D7;
    border-radius: 4px;
  }

  .forms button {
    margin-top: 42px;
    width: 70%;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    height: 58px;
  }

  .forms .term_checkbox {
    width: 70%;
    margin-top: 18px;
  }

  .forms .term_checkbox input {
    height: 50px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .term-checkbox {
    font-family: 'attenBook';
    font-size: 14px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
  }

  .forms #login_link {
    margin-top: 18px;
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .reset_password {
    color: #007bff;
    margin-top: 34px;
    font-family: 'attenBook';
    font-size: 16px;
  }

  .checkbox-label {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #d1d1d1; 
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button.btn {
    background-color: #C59318;
    color: #fff;
    padding: 10px;
    font-size: 16px;
  }
  
  button.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
  }