*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

nav,
nav div {
    display: flex;
    align-items: center;
    height: 80px;
    /* justify-content: right; */
    gap: 25px;
    padding: 0 100px;
}
nav {
  justify-content: space-between;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.home {
    padding: 20px;
}

.forms {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 15px;
  }
  
  span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  label input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
  }
  .navButton {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
  }