.footerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-top:50px;
    background-color: #fff;
    position: relative;
    padding-bottom: 100px;
}

.margintop0 {
    margin-top: 0;
}

.index {
    z-index: 1;
}

.footerCompany img {
    width: 185px;
}

.footerCompany p {
    line-height: 40px;
}

.footerCompany .paragraph {
    margin-top: 10px;
}