.sidebar { /*estiliza o container da navbar*/
    width: 18%;
    font-family: Inter;
    height: 100vh;
    position: fixed; /*para quando rolar a pagina a navbar ficar fixa*/
    border-right: 1px solid #000; /*adicionar a linha de separação entre a navbar e os projetos*/
    padding-top: 93px;
    padding-left: 60px;
    box-sizing: border-box;
  }
  
  .logo-sideBar { /*estiliza a logo*/
    width: 132px;
    height: 34.4px;
    margin-bottom: 43px;
  }
  
  .menu-item { /*estiliza cada um dos itens da navbar (home, logout, Projetos)*/
    color: #000;
    font-size: 12.8px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-item p { /*estiliza as letras da navbar*/
    font-size: 12.8px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;

  }
  
  .menu-item .helo { /*estiliza o 'Ola'*/
    color: #007BFF;
    font-size: 16px;
  }
  
  .menu-item:last-child { /*estiliza o botão*/
    border-radius: 13.958px;
    background: #C59318;
    display: flex;
    font-family: 'attenMedium';
    color: #fff;
    padding: 10.81px 22.392px 11.582px 23.165px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    font-size: 12px;
  }