.div .content-div {
    border: 1px solid #000;
    width: 80%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.content-div .itens-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itens-div label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}