.container-form {
    height: 376px;
    position: relative;
    width: 100%;
  }
  
  .container-form .techdesolicitacao {
    height: 376px;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .container-form .upload {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ccd6d7;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 326px;
    width: 100%;
  }
.flex-correction-archive,
  .flex-correction {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-correction-archive {
    gap: 5px;
  }
  .flex-correction {
    padding: 0px 15px;

  }

  .container-form .text-wrapper {
    color: #40676a;
    font-family: "attenBook", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 28px;
    left: 13px;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    max-width: 90%;
    overflow: clip;
  }
  
  .container-form .img {
    height: 15px;
    left: 560px;
    top: 17px;
    width: 15px;
  }
  
  .container-form .div {
    color: #000000;
    font-family: "attenMedium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: 22.9px;
    position: absolute;
    top: 299px;
    white-space: nowrap;
    width: 100%;
  }
  
  .container-form .listadestino {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ccd6d7;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 227px;
    width: 100%;
  }
  
  .container-form .text-wrapper-2 {
    color: #40676a;
    font-family: "Atten New-Book", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 28px;
    left: 13px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
  }
  
  .container-form .text-wrapper-3 {
    color: #000000;
    font-family: "attenMedium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: 22.9px;
    position: absolute;
    top: 199px;
    white-space: nowrap;
    width: 100%;
  }
  
  .container-form .listaorigem {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ccd6d7;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 137px;
    width: 100%;
  }
  
  .container-form .text-wrapper-4 {
    color: #40676a;
    font-family: "Atten New-Book", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 28px;
    left: 13px;
    display: flex;
    gap: 10px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
  }
  
  .container-form .text-wrapper-5 {
    color: #000000;
    font-family: "attenMedium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: 22.9px;
    position: absolute;
    top: 101px;
    white-space: nowrap;
    width: 100%;
  }
  
  .container-form .listaareas {
    background-color: #ffffff;
    border-radius: 4px;
    height: 49px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 100%;
  }
  
  .container-form .overlap-group {
    border-radius: 4px;
    height: 50px;
    position: relative;
  }
  
  .container-form .button {
    all: unset;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ccd6d7;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .container-form .text-wrapper-6 {
    color: #000000de;
    font-family: "Atten New-Book", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    left: 9px;
    letter-spacing: 0.15px;
    line-height: 19px;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 166px;
  }
  
  .container-form .frame {
    height: 24px;
    left: 541px;
    position: absolute;
    top: 13px;
    width: 24px;
  }
  
  .container-form .p {
    color: #000000;
    font-family: "attenMedium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 23px;
    left: 0;
    letter-spacing: 0;
    line-height: 22.9px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .show-values_button {
    position: absolute;
    right: 0;
    margin-top: 28px;
    height: 58px;
    width: 170px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #C59318;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    font-family: 'attenMedium';
    font-size: 16px;
  }